<table class="table">
	<thead>
		<tr>
			<th>No.</th>
			<th>Title</th>
			<th>Writer</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>3</td>
			<td>
				<a href="/board/view/3">title3</a>
			</td>
			<td>title3</td>
			<td>2017-05-10</td>
		</tr>
		<tr>
			<td>2</td>
			<td>
				<a href="/board/view/2">title2</a>
			</td>
			<td>title3</td>
			<td>2017-05-10</td>
		</tr>
		<tr>
			<td>1</td>
			<td>
				<a href="/board/view/1">title1</a>
			</td>
			<td>title3</td>
			<td>2017-05-10</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">
				<ul class="pagination pagination-sm">
				  <li><a href="/board/list?page=1">1</a></li>
				  <li class="active"><a href="/board/list?page=2">2</a></li>
				  <li><a href="/board/list?page=3">3</a></li>
				  <li><a href="/board/list?page=4">4</a></li>
				  <li><a href="/board/list?page=5">5</a></li>
				</ul>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-sm" (click)="boardWrite();">Write</button>
			</td>
		</tr>
	</tfoot>
</table>