<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<FilesMatch "\.(js)$">
...
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]